.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  min-height: 0;
  flex: 1;
}

.headingBlock {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: var(--color-text);
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 1.55;
  color: var(--color-home-text-body);

  li {
    display: flex;
    flex-direction: column;

    @media (max-width: 400px) {
      align-items: flex-start;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 17px;

      @media (max-width: 500px) {
        font-size: 16px;
        gap: 8px;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      svg {
        width: 20px;
        height: 20px;
        fill: #fff;

      }
    }

    .date,
    .issuedBy {
      color: var(--color-subtitle);
    }
  }
}