.adminPage {
  padding: 24px 0;
  margin-top: 24px;
}

.lead {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 390;
  letter-spacing: 1.2px;
  line-height: 32px;
  color: #52525b;
}
