.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  min-height: 0;
}

.meta {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  cursor: pointer;
  user-select: none;
}

.chevron {
  margin-left: auto;
  align-self: center;
  font-size: 32px;
  color: #a0a0a078;
  transition: transform 0.3s ease;
  display: inline-block;
}

.chevronOpen {
  transform: rotate(180deg);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.logoWrapper {
  position: relative;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    transform: translate(-50%, -50%) rotate(0deg);
    background: conic-gradient(from 0deg,
        transparent 0%,
        transparent 65%,
        #e2e2e2 70%,
        #d5d5d5d0 80%,
        #e0e0e0 88%,
        #cecece 93%,
        #ffffff 97%,
        transparent 100%);
    animation: spin-gradient-border 4s linear infinite;
    z-index: 0;
  }
}

.logoInner {
  position: absolute;
  inset: 2px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes spin-gradient-border {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.metaInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
  height: 100%;
  justify-content: center;

  .positionValue {
    margin: 0;
    font-family: "Verdana", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: var(--color-home-text-body);
    text-transform: uppercase;
  }

  .metaLine {
    padding: 0 8px;
  }

  .company,
  .durationValue,
  .locationValue {
    color: #a0a0a0;
    font-family: "Verdana", sans-serif;
    font-size: 16px;

    @media (max-width: 500px) {
      font-size: 14px;
    }
  }
}

.responsibilities,
.techStack {
  display: flex;
  flex-direction: column;
}

.responsibilities {
  gap: 8px;
}

.subheading {
  margin: 0;
  color: #52525b;
  font-family: "Verdana", sans-serif;
  font-size: 17px;
}

.projectList {
  margin: 0;
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bulletList,
.techList {
  padding-left: 1.25rem;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  li {
    font-size: 16px;
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 32px;
    color: var(--color-home-text-body);
    overflow-wrap: anywhere;
    word-break: break-word;
  }
}

.projectHeading {
    font-size: 16px;
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 32px;
    color: var(--color-home-text-body);
    overflow-wrap: anywhere;
    word-break: break-word;
  }