.toaster {
  font-family: "Verdana", sans-serif;
}

.toast[data-sonner-toast][data-styled="true"] {
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  padding-left: 24px;

  [data-icon] svg {
    width: 24px;
    height: 24px;
  }
}

.toastTitle,
.toastDescription {
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  padding-left: 16px;
}
